/* ---------------------------------------------------------- 
	SAPIENT BRAND TOOLKIT
------------------------------------------------------------- */
@charset "UTF-8";
/* ---------------------------------------------------------- 
	SAPIENT BRAND TOOLKIT
------------------------------------------------------------- */
@font-face {
  font-family: 'SapientCentroSlab-Light';
  src: url('../_fonts/SapientCentroSlab-Light.otf');
}
@font-face {
  font-family: 'SapientCentroSlab-Black';
  src: url('../_fonts/SapientCentroSlab-Black.otf');
}
@font-face {
  font-family: 'SapientCentroSlab-MedItalic';
  src: url('../_fonts/SapientCentroSlab-MedItalic.otf');
}
@font-face {
  font-family: 'SapientCentroSlab-Thin';
  src: url('../_fonts/SapientCentroSlab-Thin.otf');
}
@font-face {
  font-family: 'SapientCentroSlab-XThinItal';
  src: url('../_fonts/SapientCentroSlab-XThinItal.otf');
}
@font-face {
  font-family: 'SapientSans-Medium';
  src: url('../_fonts/SPNTSM.ttf');
}
@font-face {
  font-family: 'SapientSans-Light';
  src: url('../_fonts/SPNTSL.ttf');
}
/* ---------------------------------------------------------- */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* close commented backslash hack */
/* ---------------------------------------------------------- */
body {
  background: #ffffff;
  overflow-x: hidden;
}
body.overflow {
  overflow-y: hidden;
}
section {
  width: 100%;
}
h1 {
  font-family: 'SapientCentroSlab-XThinItal';
  margin: 0;
}
#main {
  padding-top: 100px;
}
#ribbon {
  position: absolute;
  top: 50%;
  height: 140px;
  text-align: center;
  -moz-box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0);
  box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0);
  z-index: 500;
}
#ribbon .anim-ribbon {
  position: absolute;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #dfe5e6;
  overflow: hidden;
  z-index: 0;
}
#ribbon .anim-ribbon .everform-paralax {
  position: absolute;
  left: 0%;
  top: -25px;
  opacity: 0;
}
#ribbon .anim-ribbon .everform-paralax2 {
  position: absolute;
  left: 225px;
  top: -360px;
  opacity: 0;
}
#ribbon .container {
  position: absolute;
  z-index: 10;
  left: 50%;
  height: 70px;
  margin: 35px 0px;
}
#ribbon #logo-img {
  left: 50%;
  width: 70px;
  height: 70px;
  opacity: 0;
}
#ribbon .text-container {
  position: absolute;
  top: 0;
  width: 50px;
  overflow: hidden;
}
#ribbon #logo-text {
  height: 70px;
  padding-left: 8px;
  opacity: 0;
}
#ribbon .subtitle {
  color: #21addd;
  position: absolute;
  bottom: 20%;
  left: 76.25%;
  font-size: 19px;
  font-family: 'SapientCentroSlab-Light';
  overflow: hidden;
  opacity: 0;
}
#devices .container {
  height: 230px;
  background: #1d1d1d;
  opacity: 0;
  overflow: hidden;
}
#devices ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#devices ul li {
  list-style-type: none;
  width: 25%;
  height: 100%;
  float: left;
  text-align: center;
}
#devices ul li img {
  height: 80%;
  margin-top: 6%;
  position: relative;
}
#appPDV {
  height: 230px;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  background: #f0f;
  position: absolute;
  top: 0;
  padding-top: 100px;
  border-bottom: 1px solid #ffffff;
}
#projects .container {
  height: 100%;
  opacity: 0;
  overflow: hidden;
  overflow-x: auto;
}
#projects ul {
  margin: 0;
  padding: 0;
  width: 120%;
  height: 100%;
  position: relative;
  left: 100%;
  display: inline-block;
  white-space: nowrap;
}
#projects ul li {
  float: left;
  vertical-align: top;
  list-style-type: none;
  width: 23%;
  height: 100%;
  padding: 0px 2px;
  position: relative;
  text-align: center;
  min-width: 175px !important;
  max-width: 220px !important;
}
#projects ul li.selected .overview {
  background: #ffffff !important;
}
#projects ul li:nth-of-type(3n - 2) .overview {
  background: #9a9a9b;
}
#projects ul li:nth-of-type(3n - 1) .overview {
  background: #747474;
}
#projects ul li:nth-child(3n + 0) .overview {
  background: #cccdcd;
}
#projects ul .app-bar {
  height: 0%;
  width: 100%;
  margin-top: 4%;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}
#projects ul .app-bar.hover {
  height: 2%;
  margin-top: 0%;
  margin-bottom: 2%;
  background: #d32728;
}
#projects ul .content {
  width: 100%;
  height: 96%;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}
#projects ul .content .app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#projects ul .content .overview,
#projects ul .content .load {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  overflow: hidden;
}
#projects ul .content .overview.hover {
  background: #ffffff !important;
}
#projects ul .content .load-container {
  position: relative;
  top: -100%;
  width: 0px;
  height: 100%;
  overflow: hidden;
  background: #ffffff;
}
#projects ul .content .shed-bar {
  width: 10px;
  height: 100%;
  background: #040707;
  position: absolute;
  right: 0;
  top: 0;
}
#projects ul .content .load-anim-container {
  height: 0px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
#projects ul .content .load-anim-container .load-bar {
  width: 100%;
  height: 10px;
  background: #d32728;
  position: absolute;
  top: 0;
}
#projects ul .content .load-anim-container .load-anim {
  height: 100%;
  background: #21addd;
  opacity: 0.3;
  position: relative;
  top: 10px;
}
#projects ul .img-thumbnail {
  width: 75px;
  height: 75px;
  background: #d32728;
  margin: 0 auto;
  position: relative;
  top: 50%;
}
#projects ul .title {
  width: 80%;
  height: 30px;
  background: #d32728;
  margin: 0 auto;
  position: relative;
  top: 55%;
}
#projects ul .img-enlarge {
  width: 110px;
  height: 110px;
  background: #d32728;
  margin: 0 auto;
  position: relative;
  top: 20%;
}
#projects ul .load-btn {
  width: 75px;
  height: 75px;
  background: #1d1d1d;
  margin: 0 auto;
  position: relative;
  top: 35%;
}
#projects .back {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 130px;
  height: 30px;
  background-color: #21addd;
  border: none;
  font-family: 'SapientSans-Light';
  color: #ffffff;
  display: none;
}
#nav {
  height: 50px;
  width: 0px;
  position: fixed;
  left: 0;
  top: 50%;
  background: #21addd;
  z-index: 100;
  overflow: hidden;
}
#nav #nav-idle {
  display: block;
  width: 100%;
  height: 100%;
}
#nav #nav-expanded {
  display: none;
  width: 100%;
  height: 100%;
}
#nav.expanded {
  width: 100%;
  height: 325px !important;
}
#nav.expanded #nav-idle {
  display: none;
}
#nav.expanded #nav-expanded {
  display: block;
}
#nav ul {
  position: absolute;
  width: 90%;
}
#nav table {
  width: 100%;
  height: 100%;
}
#nav #nav-open {
  width: 100%;
  height: 100%;
}
#nav #nav-links {
  width: 90%;
  height: 100%;
  float: left;
}
#nav #nav-links tr {
  width: 100%;
}
#nav #nav-links tr:first-child,
#nav #nav-links tr:last-child {
  height: 25%;
}
#nav #nav-links tr:nth-of-type(3n - 1) {
  height: 50%;
}
#nav #nav-links td {
  text-align: center;
  vertical-align: middle;
}
#nav #nav-close {
  position: absolute;
  right: 0;
  width: 10%;
  height: 100%;
}
#nav #nav-close tr {
  width: 100%;
}
#nav #nav-close tr:first-child,
#nav #nav-close tr:last-child {
  height: 2%;
}
#nav #nav-close tr:nth-of-type(3n - 1) {
  height: 96%;
}
#nav #nav-close tr:nth-of-type(3n - 1) td {
  border-left: 2px solid #dfe5e6;
}
#nav #nav-close td {
  text-align: center;
}
#nav ul {
  margin: 0;
  padding: 0;
}
.progressbar-border {
  background: #dfe5e6;
  width: 0px;
  height: 2px;
}
/*-----------------------------------*/
